* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #74b8e6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

main {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  text-align: left;
}

input {
  height: 40px;
  width: 100%;
  font-size: 1.3rem;
}

button:hover {
  background: aliceblue;
  background-color: #658ee9;
}

.number {
  width: 100px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  margin-top: 25px;
  text-align: center;
}

.btn-check {
  margin-top: 15px;
  margin-left: 40px;
  width: 70px;
  height: 30px;
  margin-bottom: 15px;
}

.btn-again {
  margin-top: 10px;
  width: 100px;
  height: 60px;
}
